*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui;
    background: linear-gradient(#200016,#10001f);
    height: 100vh;
}
a{
  text-decoration: none;
  color: #fff;
}
header{
    position: absolute;
    width: 95%;
    z-index: 1;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header .logo{
  font-size: 30px;
  text-transform: uppercase;  
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header ul li{
    margin-right: 20px;
}
header ul li a{
    padding:6px 15px ;
    border-radius: 20px;
    
}

header ul li a:hover , .active{
    background-color: #fff;
    color: #200016;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main::after{
    content: '';
    position: absolute;
    /* positton to control after location and then select start point (bottom =0  */
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,#200016,transparent);


}

.main img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#moon{
    mix-blend-mode: screen;
    transform: translateY(80px);
    /* down */
}
.nouvil{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    transform: translateY(-140px);
    /* up */
}
.content{
    color: #fff;
    padding: 30px;
}
.content h2{
    margin: 20px;
    font-size: 30px;
}
.content p{
    margin: 20px;
}